body {
    font-family: sans-serif;
}

header {
    padding-bottom: 50px;
}

.fa-bars 
{
    position: absolute;
    left: 10px;
    top: 29px;
    color: rgb(112, 112, 112);
}

.fa-youtube {
    position: absolute;
    left: 50px;
    top: 20px;
    display: inline;
    font-size: 32px;
    color: red;
}

.head {
    position: relative ;
    font-family: sans-serif;
}

.head1 span {
    position: absolute;
    left: 85px;
    top: 23px;
    font-size: 23px;
    display: inline;
}

.head2 {
    position: absolute;
    top: 20px;
    right: 500px;
}

.head2 input {
    width: 600px;
    height: 25px;
    border: 2px solid rgb(179, 177, 177);
}

.head2 input:focus {
    border: 1px solid blue;
}

.fa-search {
    border: 1.3px solid rgb(177, 176, 176);
    padding: 6px 25px;
    position: absolute;
    right: -16px;
    background-color: rgb(243, 239, 239) ;
    margin-top: 0.3px;
    color: rgb(128, 126, 126);
}

.fa-search:hover {
    cursor: pointer;
}


.head3 {
    position: absolute;
    top: 1px;
    right: 10px;
}

.head3 ul li {
    list-style-type: none;
    display: inline;
    margin: 0 10px;
}

.head3 ul li a {
    color: rgb(78, 77, 77);
    font-size: 20px;
}

.fa-user-circle {
    font-size: 30px;
}

.centr {
    background-color: rgb(241, 231, 231);
}

.vid1 {
    margin-top: 8px;
    margin-left: 50px;
}

.centr1 {
    float: left;
    width: 70%;
}
.centr2 {
    float: left;
    width: 30%;
    margin-top: 8px;
}

.vim {
    font-size:34px;
    text-decoration: 2px underline solid white;
    color: rgb(66, 58, 58);
}

.butn {
    height: 40px;
    width: 120px;
    margin-left: 15px;
    background-color: rgb(223, 63, 63);
    border: none;
    border-radius: 3px;
}

.auto {
    margin-left: 235px;
}

.fa-check-circle {
    font-size: x-large;
    color: blue;
}

.vid2,
.vid3,
.vid4,
.vid5,
.vid6,
.vid7,
.vid8,
.vid9,
.vid10 {
    float: left;
    margin: 5px 10px 5px 0;
}









